.title {
    font-size: 1.5em;
    font-weight: bolder;
}

.candidateName {
    float: left;
}

.candidatePath {
    float: right;
    opacity: 0.25;
    /*color: rgba(0, 0, 0, 0.25)*/
}

.emphasize1 {
    color: rgb(24, 144, 255);
    font-size: 1.2em;
    font-weight: bold;
}

.emphasize2 {
    color: #f50;
    font-size: 1.2em;
    font-weight: bold;
}

.unmapped {
    background-color: rgba(24, 144, 255, 0.5);
}

.mappingBox {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    /*color: black;*/
    padding: 20px;
}

.mappingBox header {
    text-align: center;
}

.mappingBox h3 {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;

}

.mappingBox button {
    display: block;
    margin: 20px auto;
}

.highlight {
    background-color: rgba(24, 144, 255, 0.5);
}

#selectField h3 {
    font-size: 1.2em;
    margin-right: 20px;
    display: inline-block;
}

#selectField .select {
    display: inline-block;
}

.selectTrees {
    position: relative;
}

.selectTrees .select {
    display: block;
    margin: 0 auto;
}

.introduction p {
    text-align: center;
    margin: 0 auto;
    color: rgb(24, 144, 255);
}

#mapping header {
    text-align: center;
    font-weight: bold;
}