.searchTree {
    font-size: 1em;
}

.searchBar {
    width: 500px;
    height: 40px;
    margin: 0 8px 8px 0;
}

.candidateName {
    float: left;
}

.candidatePath {
    float: right;
    color: rgba(0, 0, 0, 0.65)
}

.emphasize1 {
    color: rgb(24, 144, 255);
    font-size: 1.2em;
    font-weight: bold;
}

.emphasize2 {
    color: #f50;
    font-size: 1.2em;
    font-weight: bold;
}

header {
    text-align: center;
    font-weight: bold;
}